body {
   background-image: url(./weather\ image3.jpg);
}

.container{
    width: 600px;
    margin: 100x auto;
    padding: 40px;
}
/*#weather-container {
    background: rgba(236, 230, 230, 0.897);
    max-width: 400px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 8px 32px rgba(252, 247, 247, 0.87);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(250, 249, 242, 0.836);
    text-align: center;
}*/



input {
    width: calc(100% - 16px);
    padding: 8px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid rgb(241, 239, 239);
    margin-top: 20px;
}


.inputs
{
    padding: 2rem 0 2rem 0;
    text-align: center;
    justify-content: center;
    background: rgb(250, 249, 249);
    height: 200px;

}
.inputs input[type="text"]
{
    height: 5rem;
    width: 22rem;
    background: #fcf8f8;
    font-weight: bold;
    font-size: 1rem;
    padding: 10px;
    border: none;
    background-color: transparent;
    border: 2px solid #161616;
    border-radius: 3px;
    margin-right: 4px;
}
.inputs input[type="submit"]
{
    height: 3rem;
    width: 6rem;
    background: #3a4cee;
    font-weight: bold;
    color: rgb(245, 241, 241);
    font-size: 1rem;
    margin-top: 20px;
    border: #fb9bd6;
    border-radius: 4px
}
.display
{
    text-align: center;
    width: 600px;
    color: #111111f8;
}